*
{
    padding: 0;
    margin: 0;
    border: 0;
}
/* Headr */
header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}

.head{
 display: flex;
justify-content: space-between;
align-items: center;
position: relative;
padding-left: 10%;
padding-right: 10%;
padding-top: 1%;
}
.logo{
    color: rgb(249, 180, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ull{
    list-style-type:none ;
    display: flex;
}
.ull li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    margin-left: 50px;
}
/* end headr */

.pag1{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    position: relative;
}
.pag1_2{
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-top: 70vh;
    text-align: center;
    
}
.pag1_2 h3{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pag1_2 p
{
    padding-top: 10px;
    padding-bottom: 20px;
   
}
.pag1_2 button{
    background-color: rgb(53, 235, 101);
    border: 0;
    min-width: 120px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
    
}


.pag2{
    background-color: white;
    text-align: center;
    min-height: 100vh;
}
.txt
{
    padding: 9%
}
.txt p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    letter-spacing: 5px;
    padding-bottom: 15px;
}
.txt h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img img{
    padding: 5px;
    width: 40%;
    height: 40%;
}

.pag2_1{
    text-align:center;
    position: relative;
    
}
.clear
{
    clear: both;
}
/* ------------------------------------------------------------------------------------------------ */
.ul_li
{
    display: flex;
    list-style: disc;
    position: absolute;
    color: black;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/* --------------------------------------------------------------------------------------------------- */

.p2 p
{
    padding-top: 4%;
    padding-bottom: 2%;

}
.img2{
    justify-content: center;
    display: flex;
    padding-left:100px;
    padding-bottom: 100px;

    
}
.img2 img{
    width: 250px;
    height: 250px;
    padding: 8px;
    
}
/* =========================== */
.pag3
{
    height: 50vh;
    background-image: url(./form.jpg);
    background-size: cover;
    background-position:center;
    background-position: center;
    text-align: center;
    position: relative;
}
.forms{
    height: 26vh;
    width: 100%;
    background-color: rgb(210, 206, 206);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.forms p{
       font-size: 45px;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       padding-bottom: 25px;
}
.pag4{
    height:15vh;
    margin-top:80px ;
    margin-left: 10%;
    position: relative;
}
.txtpag4{
    display: flex;
    top:25px;

}
.txtpag4 h5
{
    opacity: 0.8;
    font-size: 20px;
}
.txtpag4 p{
 
    opacity: 0.7;
}
.div1{
   padding-right:290px;
}
.div2{
    padding-right: 290px;
}
.iq img
{
    width: 15px;
    padding: 8px
}
.iq{
    padding-left: 79%;
    padding-top: 6px;
}